---
---

@import "{{ site.theme }}";

.outer {
  background-color: #ffffff;
}

.inner {
  min-width: 1006px;
  max-width: 1006px;
}

footer {
  #display: none !important;
}

.btn {
  display: none !important;
}

table {
    width: 100%;
    font-size: 50%;
}
