---
---

@import "{{ site.theme }}";

@media all and (min-width: 1200px) and (orientation:portrait) 
{
    /* styles here */
    .outer {
      background-color: #ffffff;
    }

    .inner {
      width: 100%;
      #max-width: 1006px;
    }

    footer {
      #display: none !important;
    }

    .btn {
      display: none !important;
    }

    table {
        width: 100%;
        font-size: 65%;
        #padding: 1px;
        #cellpadding: 2px;
    }

    th, td {
        padding: 2px;
        cellpadding: 2px;
    }
}

@media all and (min-width: 1200px) and (orientation:landscape) 
{
    /* styles here */
    .outer {
      background-color: #ffffff;
    }

    .inner {
      #min-width: 1006px;
      #max-width: 1006px;
      width: 100%
    }

    footer {
      #display: none !important;
    }

    .btn {
      display: none !important;
    }

    table {
        width: 100%;
        font-size: 65%;
        #padding: 1px;
        #cellpadding: 2px;
    }

    th, td {
        padding: 2px;
        cellpadding: 2px;
    }

}

