---
---

@import "{{ site.theme }}";

.outer {
  background-color: #ffffff;
}

.inner {
  min-width: 1010px;
  max-width: 1010px;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

table {
    width:100%;
}
